.jumbotron.text-center
  %h1 [Team]mometer
.container
  .row
    .col-lg-12
      %blockquote
        %p Любой коллектив - это группа живых людей, постоянно взаимодействующих друг с другом. Для эффективного управления командой важно понимать, на каком уровне развития она находится, что происходит с каждым ее участником в определенный момент времени. Это позволяет избирательно применять наиболее подходящие к ситуации стили управления и к команде и к отдельным людям.

  .row.featurette
    .col-md-7
      %h2.featurette-heading
        При помощи TeamMometer вы,
        %span.text-muted воспользовавшись готовым опросом, или создав свой собственный, самостоятельно можете:
      %ul.lead
        %li определить, на каком этапе развития находится ваша команда;
        %li выявить неформальных лидеров и понять, почему остальные члены команды прислушиваются к их мнению;
        %li понять, как повлияли на работу команды уход или приход ее отдельных участников;
        %li узнать, насколько быстро проходит процесс адаптации новичка, каков его текущий статус в группе, как влияет его появление на команду в целом?
        %li кого продвигать в управленцы, а кого оставить в покое?
        %li насколько команда сплочена
    .col-md-5
      %br
      %br
      = image_tag "20130530team.jpg"
  %hr.featurette-divider

  .row.featurette
    .col-md-4
      %br
      %br
      = image_tag "corporate_values.jpg"
    .col-md-8
      %h2.featurette-heading
        Мы будем рассматривать три основных аспекта:
      %ul.lead
        %li
          С помощью
          %b Социометрии (уровня аттракции)
          определяем степень “комфортности” участника команды, его способность быть эмоционально привлекательным для других участников команды.
        %li
          %b Референтность
          \- уровень профессиональных компетенций человека с точки зрения группы. Характеризует ценность человека для выполнения задач команды.
        %li
          %b ЦОЕ
          \- ценностно-ориентационное единство, один из основных показателей сплоченности группы. Показывает степень согласованности мнений участников команды. Показателем ЦОЕ служит частота совпадений мнений участников команды в отношении значимых для ее деятельности деловых и нравственных аспектов.
