%h3= t('.title')
%ul.nav.nav-pills.nav-stacked
  %li(ng-class='{active: $state.includes("surveys.**")}')
    %a(ui-sref="surveys.list")
      %span.glyphicon.glyphicon-chevron-right= t('.surveys')
  %li(ng-class='{active: $state.includes("templates.**")}')
    %a(ui-sref="templates.list")
      %span.glyphicon.glyphicon-chevron-right= t('.templates')
