%h3 {{ survey.title }}
.share= render "angular_templates/shared/share" if signed_in?
.report(ng-show="report.respondents")
  = render "angular_templates/shared/interview_statistic"
  = render "angular_templates/shared/report"
.report_empty(ng-hide="report.respondents")
  .alert.alert-danger= t('.empty_report')
