%h2 Статус участников команды:
%ul
  %li
    %b Неформальный лидер:
    %ul
      %li Самый высокий показатель социометрических и референтометрических выборов
      %li Высокий показатель взаимных выборов
      %li Высокая степень совпадения между качествами, выбранными лидером и 5-ю качествами, чаще всего указываемыми участниками команды
  %li
    %b Низкостатусный участник команды:
    %ul
      %li Наименьшее число выборов по социометрии
      %li Число выборов по референтометрии ниже среднего
      %li Низкий показатель взаимности выборов
  %li
    %b Остальные члены команды обладают средними статусом
%h2 Уровень развития команды:
%ul
  %li
    %b Высокий уровень
    %ul
      %li По социометрии - отсутствие в команде аутсайдеров, явное численное превосходство высокостатусных участников над низкостатусными, высокий показатель взаимности выборов
      %li По референтометрии - высокий уровень взаимной референтности
      %li Высокая степерь совпадения данных социометрии и референтометрии
      %li Высокий уровень ЦОЕ ( от 50%)
  %li
    %b Низкий уровень
    %ul
      %li По социометрии - отсутсвие социометрических "звезд", большое количество средне или низкоуровневых членов
      %li По референтометрии - отсутсвие референтометрических лидеров, низкий показатель взаимной референтометрии
      %li Низкий уровень совпадения данных социометрии и референтометрии
      %li Низкий уровень ЦОЕ ( менее 30%)
%p.text-right
  %small.text-muted
    Данный опрос и расчеты основаны на
    %a(href="http://penxy.com/jasa") презентации А.Корекого, Bellintegrator
