.panel-heading
  %p {{ survey.personalQualitiesQuestion }}
.panel-body.row
  .col-md-6
    %ul.list-group
      %li.list-group-item(ng-repeat="quality in personal_qualities" ng-hide="have_quality(quality)")
        {{ quality }}
        %button.btn.btn-default.pull-right(ng-click="team_utils.add_to(quality, user_qualities)" ng-show="user_qualities.length < 5")
          %span.glyphicon.glyphicon-chevron-right
        .clearfix
  .col-md-6
    .alert.alert-info(ng-hide="user_qualities.length > 0")= t(:choose_from, scope: [:ui_helpers])
    %ul.list-group
      %li.list-group-item(ng-repeat="quality in user_qualities")
        %span.label.label-default {{ $index + 1 }}
        %button.btn.btn-default(ng-click="team_utils.remove_from(quality, user_qualities)")
          %span.glyphicon.glyphicon-chevron-left
        {{ quality }}
        &nbsp;
