.panel.panel-default
  .panel-heading= message
  .panel-body.overflowed
    .progress
      .progress-bar.progress-bar-striped.active(style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100")
