.panel.panel-default
  .panel-heading= t(".#{name}")
  .panel-body
    %table.table.table-header-rotated
      %thead
        %tr
          %th.rotate-45
            %div
              %span User
          %th.rotate-45(ng-repeat="(key, value) in #{name}" ng-hide="key == 'summary'")
            %div
              %span {{ users_map[key].name }}
      %tbody
        %tr.warning(ng-hide="show_details")
          %td(colspan="100%")
            %a(href='#' ng-click="show_details = !show_details")
              %span.glyphicon.glyphicon-fullscreen
        %tr(ng-repeat="(respondent_id, att_users) in #{name}" ng-class="{summary: 'info'}[respondent_id]" ng-show="show_it(respondent_id)")
          %td {{ users_map[respondent_id].name }}
          %td.text-center(ng-repeat="rate in att_users")
            %span(ng-show="rate > 0") {{ rate }}
