= render "angular_templates/shared/metrics", name: "sociometry", collapse_id: "soc_details"
= render "angular_templates/shared/metrics", name: "referentometry", collapse_id: "ref_details"
= render "angular_templates/shared/graphs"
= render "angular_templates/shared/coe"
