= render "angular_templates/shared/metrics", name: "sociometry"
= render "angular_templates/shared/metrics", name: "referentometry"
= render "angular_templates/shared/graphs"
= render "angular_templates/shared/coe"
